.layout {
  background: #f3f2f7;
  overflow-y: auto;
}
.layout .nav-sub {
  padding: 16px 0 12px 0;
}
.layout .nav-sub .nav-sub-content {
  display: flex;
  align-items: center;
}
.layout .nav-sub .nav-sub-content .icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: url(../../../assets/workbench/wz.png) no-repeat 0 0;
  background-size: 100% 100%;
  margin-right: 4px;
}
.layout .nav-sub .nav-sub-content .name {
  font-family: Source Sans 3,
          Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.layout .nav-sub .nav-sub-content .oblique-line {
  margin: 0 8px;
  font-family: Source Sans 3,
          Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.layout .nav-sub .nav-sub-content .elLinkName {
  font-family: Source Sans 3,
          Source Sans 3;
  font-weight: 600;
  font-size: 14px;
  color: #313133;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content {
  display: flex;
}
.layout .layout-content .lf-cont {
  margin-right: 16px;
  width: calc(100vw - 0px);
  overflow: hidden;
}
.layout .layout-content .lf-cont .top-wrap {
  height: auto;
  background: #ffffff;
  border-radius: 4px 4px 4px 4px;
  display: flex;
  margin-bottom: 10px;
}
.layout .layout-content .lf-cont .top-wrap .user-info {
  display: flex;
  align-items: center;
}
.layout .layout-content .lf-cont .top-wrap .user-info .pic {
  min-width: 64px;
  max-width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 1px solid #ebe9f7;
  position: relative;
  margin-right: 8px;
}
.layout .layout-content .lf-cont .top-wrap .user-info .pic img {
  display: block;
  min-width: 63px;
  max-width: 63px;
  border-radius: 63px;
  height: 63px;
}
.layout .layout-content .lf-cont .top-wrap .user-info .pic i.man {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../../../assets/public/nan.png) no-repeat 0 0;
  background-size: 100% 100%;
  bottom: 0;
  right: -2px;
}
.layout .layout-content .lf-cont .top-wrap .user-info .pic i.women {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../../../assets/public/nv.png) no-repeat 0 0;
  background-size: 100% 100%;
  bottom: 0;
  right: -2px;
}
.layout .layout-content .lf-cont .top-wrap .user-info .info .name {
  height: 26px;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 300;
  font-size: 16px;
  color: #313133;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 8px;
}
.layout .layout-content .lf-cont .top-wrap .user-info .info .job {
  height: 20px;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  line-height: 16px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .top-wrap .user-info .info .job span {
  font-family: Source Sans 3,
                  Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #009f86;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  height: 24px;
  background: #E6EAFF;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #124DD61A;
  padding: 5px 8px;
}
.layout .layout-content .lf-cont .top-wrap .statistics-info {
  align-items: center;
  width: auto;
}
.layout .layout-content .lf-cont .top-wrap .statistics-info .sta-list {
  cursor: default;
}
.layout .layout-content .lf-cont .top-wrap .statistics-info .sta-list .num {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: DIN Alternate,
                DIN Alternate;
  font-weight: bold;
  font-size: 32px;
  color: #313133;
  line-height: 22px;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .top-wrap .statistics-info .sta-list .num .unit {
  margin-right: 10px;
  font-size: 25px;
}
.layout .layout-content .lf-cont .top-wrap .statistics-info .sta-list .type {
  display: flex;
  justify-content: center;
  height: 22px;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #313133;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 18px;
}
.layout .layout-content .lf-cont .work-wrap {
  min-height: 638px;
  background: #ffffff;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  padding: 25px 20px 23px 20px;
  position: relative;
}
.layout .layout-content .lf-cont .work-wrap :deep(.ant-tabs-top > .ant-tabs-nav::before) {
  border-bottom: none;
}
.layout .layout-content .lf-cont .work-wrap .onoff-btn {
  position: absolute;
  top: 27px;
  right: 20px;
  font-family: Source Sans 3,
            Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #0d53e2;
  line-height: 14px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  cursor: pointer;
  z-index: 99;
}
.layout .layout-content .lf-cont .work-wrap .box_contain {
  background-color: #fff;
}
.layout .layout-content .lf-cont .work-wrap .work_space {
  position: relative;
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.ant-tabs-nav::after) {
  border-bottom: none !important;
  /* 去除静态边框 */
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.el-tabs__active-bar) {
  display: none;
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.el-tabs__header) {
  margin-bottom: 20px;
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.ant-tabs-tab-btn) {
  overflow: visible;
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.ant-tabs) {
  overflow: visible;
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top .work_btn_h3,
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.el-ant-tabs-tab-btn) {
  font-family: Source Sans 3,
              Source Sans 3;
  font-weight: 400;
  font-size: 18px;
  color: #6a696e;
  text-align: left;
  font-style: normal;
  text-transform: none;
  border-right: 1px solid #eaeaf1;
  height: 20px;
  width: auto;
  line-height: 20px;
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top .work_btn_h3 .work_space_text,
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.el-ant-tabs-tab-btn) .work_space_text {
  height: 18px;
  line-height: 18px;
  margin-right: 19px;
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top .work_btn_h3:last-child,
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.el-ant-tabs-tab-btn):last-child {
  border-right: none;
}
.layout .layout-content .lf-cont .work-wrap .work_nav_top .work_active,
.layout .layout-content .lf-cont .work-wrap .work_nav_top :deep(.ant-tabs-tab-btn.is-active) {
  border-bottom: none;
  font-family: Source Sans 3,
              Source Sans 3;
  font-weight: 600;
  font-size: 18px;
  color: #313133;
  line-height: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .work-wrap .body_box :deep(.ant-tabs-nav-list > :not(:first-child)) {
  margin: 0 0 0 10px !important;
}
.layout .layout-content .lf-cont .work-wrap .body_box :deep(.ant-tabs-bar) {
  border: none;
}
.layout .layout-content .lf-cont .work-wrap .body_box :deep(.ant-tabs-ink-bar) {
  display: none;
}
.layout .layout-content .lf-cont .work-wrap .body_box :deep(.ant-tabs-nav) {
  display: flex;
}
.layout .layout-content .lf-cont .work-wrap .body_box :deep(.ant-tabs-nav .ant-tabs-tab) {
  width: auto;
  height: 28px;
  font-family: Source Sans 3,
              Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  text-align: center;
  font-style: normal;
  text-transform: none;
  background: #f3f2f7;
  border-radius: 20px 20px 20px 20px;
  padding: 7px 16px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.layout .layout-content .lf-cont .work-wrap .body_box :deep(.ant-tabs-nav .ant-tabs-tab-active) {
  background: #e3ecff;
  font-family: Source Sans 3,
              Source Sans 3;
  font-weight: 600;
  font-size: 14px;
  color: #0d53e2;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border-bottom: none;
  vertical-align: middle;
}
.layout .layout-content .lf-cont .work-wrap .body_box .work_nav {
  border-bottom: none;
}
.layout .layout-content .lf-cont .work-wrap .body_box .work_nav .work-btn {
  width: auto;
  height: 28px;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  text-align: center;
  font-style: normal;
  text-transform: none;
  background: #f3f2f7;
  border-radius: 20px 20px 20px 20px;
  margin-right: 12px;
  padding: 7px 16px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.layout .layout-content .lf-cont .work-wrap .body_box .work_nav .work_active {
  background: #e3ecff;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 600;
  font-size: 14px;
  color: #0d53e2;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border-bottom: none;
  vertical-align: middle;
}
.layout .layout-content .lf-cont .work-wrap .body_box .BtonLeft {
  margin-left: 8px;
  background: #0d53e2;
  border-radius: 6px 6px 6px 6px;
}
.layout .layout-content .lf-cont .work-wrap .body_box .BtnLeft {
  margin-left: 8px;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 :deep(.ant-tabs-nav-list > :not(:first-child)) {
  margin: 0 0 0 10px !important;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 :deep(.ant-tabs-bar) {
  border: none;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 :deep(.ant-tabs-ink-bar) {
  display: none;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 :deep(.ant-tabs-nav) {
  display: flex;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 :deep(.ant-tabs-nav .ant-tabs-tab) {
  width: auto;
  height: 28px;
  font-family: Source Sans 3,
              Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  text-align: center;
  font-style: normal;
  text-transform: none;
  background: #f3f2f7;
  border-radius: 20px 20px 20px 20px;
  padding: 7px 16px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 :deep(.ant-tabs-nav .ant-tabs-tab-active) {
  background: #e3ecff;
  font-family: Source Sans 3,
              Source Sans 3;
  font-weight: 600;
  font-size: 14px;
  color: #0d53e2;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border-bottom: none;
  vertical-align: middle;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 .work_nav {
  border-bottom: none;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 .work_nav .work-btn {
  width: auto;
  height: 28px;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  text-align: center;
  font-style: normal;
  text-transform: none;
  background: #f3f2f7;
  border-radius: 20px 20px 20px 20px;
  margin-right: 12px;
  padding: 7px 16px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 .work_nav .work_active {
  background: #e3ecff;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 600;
  font-size: 14px;
  color: #0d53e2;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border-bottom: none;
  vertical-align: middle;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 .BtonLeft {
  margin-left: 8px;
  background: #0d53e2;
  border-radius: 6px 6px 6px 6px;
}
.layout .layout-content .lf-cont .work-wrap .body_box2 .BtnLeft {
  margin-left: 8px;
}
.layout .layout-content .lf-cont .work-wrap .eldivider {
  margin: 24px 0 20px 0;
}
.layout .layout-content .lf-cont .work-wrap .layoutTableBox {
  display: inline-block;
}
.layout .layout-content .lf-cont .work-wrap .layoutBody {
  width: calc(100% + 10px);
  height: calc(100vh - 420px);
  overflow-y: auto;
}
.layout .layout-content .lf-cont .work-wrap .card-detail {
  display: flex;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list {
  width: 401px;
  height: 254px;
  padding: 20px 20px 18px 20px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #eaeaf1;
  margin-bottom: 16px;
  margin-right: 16px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list:hover {
  border-color: #0d53e2;
  box-shadow: 0 0 5px 2px rgba(13, 83, 226, 0.2);
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list:hover .title .t-more {
  font-weight: bold;
  color: #0d53e2;
  background: #eaeaf1;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title {
  height: 22px;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 400;
  font-size: 16px;
  color: #313133;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .status {
  margin-left: 4px;
  padding: 1px 6px;
  height: 20px;
  border-radius: 2px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .daiban {
  background: linear-gradient(270deg, #ff4f44 0%, #ff8e76 72%);
  font-family: Source Sans 3,
                  Source Sans 3;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 19px;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .biangeng {
  background: linear-gradient(270deg, #15c7c7ff 0%, #68dada 72%);
  font-family: Source Sans 3,
                  Source Sans 3;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 19px;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .yiban,
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .yizhuanban {
  background: linear-gradient(90deg, #4dba6c 0%, #81d97f 100%);
  font-family: Source Sans 3,
                  Source Sans 3;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 19px;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .working {
  background: linear-gradient(270deg, #3568ca 0%, #76ceff 72%);
  font-family: Source Sans 3,
                  Source Sans 3;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 19px;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .t-more {
  margin-top: 0px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 17px;
  text-align: center;
  border-radius: 20px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .t-more :deep(.ant-dropdown-rel) {
  width: 20px;
  height: 20px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .t-more :deep(.ant-select-dropdown) {
  width: 65px !important;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .t-more :deep(.ant-select-dropdown) .ant-dropdown-menu {
  min-width: 65px;
  width: 65px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .t-more .ant-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px !important;
  padding: 7px 0;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .t-more .icon {
  margin-right: 4px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .t-more .dot {
  margin-top: -3px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .title .t-more:hover {
  background: #eaeaf1;
  color: #0d53e2;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .time {
  height: 22px;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .schedule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .schedule .schedule-info {
  height: 22px;
  font-family: Source Sans 3,
                  Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .schedule .schedule-info .num {
  font-family: DIN Alternate,
                    DIN Alternate;
  font-weight: bold;
  font-size: 16px;
  color: #6a696e;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list :deep(.el-progress-bar__innerText) {
  display: none;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .create-pop {
  margin-top: 20px;
  height: 22px;
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  display: flex;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .create-pop .user {
  height: 24px;
  background: #f3f2f7;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.layout .layout-content .lf-cont .work-wrap .card-detail .card-list .create-pop .user img {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 1px 4px 1px 2px;
}
.layout .layout-content .rt-cont .rt-cont-list {
  margin-bottom: 10px;
}
.layout .layout-content .rt-cont .rt-cont-list .rt-cont-title {
  font-family: Source Sans 3,
            Source Sans 3;
  font-weight: 600;
  font-size: 18px;
  color: #313133;
  line-height: 18px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  padding: 21px 0 24px 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout .layout-content .rt-cont .rt-cont-list .rt-cont-title .more-btn {
  font-family: Source Sans 3,
              Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #0d53e2;
  line-height: 14px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  cursor: pointer;
  margin-right: 17px;
}
.layout .layout-content .rt-cont .quick-entry {
  width: 348px;
  height: 156px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 4px 4px 4px 4px;
}
.layout .layout-content .rt-cont .quick-entry .cont-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.layout .layout-content .rt-cont .quick-entry .cont-list .lis {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  flex: 0 0 25%;
}
.layout .layout-content .rt-cont .quick-entry .cont-list .lis:last-child {
  margin-right: 0;
}
.layout .layout-content .rt-cont .quick-entry .cont-list .lis:hover span {
  color: #0d53e2;
}
.layout .layout-content .rt-cont .quick-entry .cont-list .lis img {
  min-width: 44px;
  max-width: 44px;
  border-radius: 44px;
  height: 44px;
  overflow: hidden;
  display: block;
  margin: 0 auto 12px auto;
}
.layout .layout-content .rt-cont .quick-entry .cont-list .lis span {
  font-family: Source Sans 3,
                Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #6a696e;
  line-height: 14px;
  text-align: center;
  font-style: normal;
  text-transform: none;
  display: inline-block;
  width: 56px;
  height: 14px;
  overflow: hidden;
}
.layout .layout-content .rt-cont .project-statistics {
  width: 348px;
  height: 280px;
  background: #ffffff;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
}
.layout .layout-content .rt-cont .project-statistics .eachrts-wrap,
.layout .layout-content .rt-cont .project-statistics #eachart-main {
  width: 348px;
  height: 240px;
  margin-top: -20px;
}
.layout .layout-content .rt-cont .announcement {
  width: 348px;
  height: 298px;
  background: #ffffff;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  overflow-y: auto;
}
.layout .layout-content .rt-cont .announcement .cont-list {
  padding: 0 24px 36px 19px;
}
.layout .layout-content .rt-cont .announcement .cont-list .news-list {
  display: flex;
  margin-bottom: 16px;
}
.layout .layout-content .rt-cont .announcement .cont-list .news-list img {
  width: 10px;
  height: 10px;
  overflow: hidden;
  margin-top: 6px;
  margin-right: 6px;
}
.layout .layout-content .rt-cont .announcement .cont-list .news-list .news-cont .title {
  width: 280px;
  height: 22px;
  font-family: Source Sans 3,
                  Source Sans 3;
  font-weight: 400;
  font-size: 14px;
  color: #313133;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  cursor: pointer;
  overflow: hidden;
}
.layout .layout-content .rt-cont .announcement .cont-list .news-list .news-cont .title:hover {
  color: #0d53e2;
}
.layout .layout-content .rt-cont .announcement .cont-list .news-list .news-cont .detalis {
  width: 149px;
  height: 20px;
  font-family: PingFang SC,
                  PingFang SC;
  font-weight: 500;
  font-size: 12px;
  color: #a2a1a6;
  line-height: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.layout .show-right-content-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  background: #0d53e2;
  z-index: 10;
}
.layout .form-wrap .input-list {
  width: 160px;
  margin-right: 10px;
}
.layout .form-wrap .seach-append .elLink {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  color: #6a696e;
  font-size: 13px;
}
.layout .form-wrap .seach-append .elLink:hover {
  color: #0d53e2;
  border-bottom: 1px solid blue;
  transform: translateY(-2px);
}
.layout :deep(.ant-tabs-nav-wrap) {
  height: 30px;
}
