.route-page-wrapper {
  height: calc(100% - 0px);
  overflow: hidden;
  background-color: #ffffff !important;
}

.cartBall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 99;
  // background: url(@/assets/weichai.png) center / 100% no-repeat;
}
