.ant-table:not(.antd) .ant-table-cell::before {
  background-color: transparent !important;
}
.ant-table-thead > tr > th {
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 13px;
  font-weight: 600;
  position: relative;
  text-align: left;
  transition: background 0.3s ease;
  padding: 10px;
}
.ant-table-tbody > tr > td {
  padding: 10px;
}
:deep(.ant-table-column-sorters) {
  justify-content: center;
  align-items: flex-end;
}
:deep(.ant-table-column-title) {
  flex: none;
}
